# 시리즈 만들기([리스트]) - pd.Series(['요소1','요소2',...])

In [39]:
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [40]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

In [41]:
# 문자열 인덱스 만들기
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index = ['Person', 'Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

# 데이터프레임 만들기({딕셔너리}) - pd.DataFrame({...})

In [42]:
scientist = pd.DataFrame({
    'Name' : ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]
})
print(scientist)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [43]:
# df.DataFrame(data = {'key':[]}, index=[], columns=[])
scientist = pd.DataFrame(
    data = {'Occupation' : ['Chemist', 'Statistician'],
            'Born' : ['1920-07-25', '1876-06-13'],
            'Died' : ['1958-04-16', '1937-10-16'],
            'Age' : [37, 61]},
        
    index = ['Rosaline Franklin', 'William Gosset'],
        
    columns = ['Occupation', 'Born', 'Age', 'Died']#컬럼명 지정 순서대로 DF 생성됨
)
print(scientist)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

In [44]:
# 딕셔너리는 키(key)와 값(Value)로 이루어진 한 쌍의 데이터들의 순서를 보장하지 않음
# 순서 보장된 딕셔너리 전달을 위해 OrderedDict 사용
from collections import OrderedDict

scientist = pd.DataFrame(OrderedDict([
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist', 'Statistician']),
    ('Born', ['1920-07-25', '1876-06-13']),
    ('Died', ['1958-04-16', '1937-10-16']),
    ('Age', [37, 61])
])
)
print(scientist)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 데이터프레임에서 시리즈 선택하기

In [45]:
scientists = pd.DataFrame(
    data = {'Occupation' : ['Chemist', 'Statistician'],
            'Born' : ['1920-07-25', '1876-06-13'],
            'Died' : ['1958-04-16', '1937-10-16'],
            'Age' : [37, 61]},
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation', 'Born', 'Died', 'Age']
)

In [46]:
first_row = scientists.loc['William Gosset']
print(type(first_row))

<class 'pandas.core.series.Series'>

In [47]:
print(first_row)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

# index, values, keys 사용하기

In [48]:
#index 속성
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [49]:
#values 속성
print(first_row.values)

['Statistician' '1876-06-13' '1937-10-16' 61]

In [50]:
#keys 메서드 : index 속성과 같은 역할
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [51]:
#index속성 응용
print(first_row.index[0])

Occupation

In [52]:
#keys메서드 응용
print(first_row.keys()[0])

Occupation

# 시리즈의 mean, min, max, std 메서드 사용하기

In [53]:
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [54]:
ages = scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [55]:
# 시리즈를 구성하는 자료형이 숫자라면 mean/min/max/std 등 통계 메서드 사용가능
print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())

49.0
37
61
16.97056274847714

시리즈 메서드 정리
append            2개 이상의 시리즈 연결
describe          요약 통계량 계산
drop_duplicates   중복값 없는 시리즈 리턴
equals            시리즈에 해당 값을 가진 요소 있는지 확인
get_values        시리즈 값 구하기(values 속성과 동일)
isin              시리즈에 포함된 값이 있는지 확인
min               최소값
max               최대값
mean              평균값
median            중앙값
replace           특정 값을 가진 시리즈 값 교체
sample            시리즈에서 임의의 값 리턴
sort_values       값 정렬
to_frame          시리즈를 데이터프레임으로 변환

# 시리즈와 불린 추출 사용하기

In [85]:
# 추출할 데이터의 인덱스를 모를 때
scientists = pd.read_csv('./data/scientists.csv')
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [57]:
ages = scientists['Age']
print(ages.max())
print(ages.mean())

90
59.125

In [58]:
#평균나이보다 나이많은 데이터 추출
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [59]:
#추출과정
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [60]:
manual_bool_values = [True, True, False, False, True, True, False, True]
print(ages[manual_bool_values])

# 시리즈에 참/거짓 리스트를 붙이면, 참 인덱스의 데이터를 추출할 수 있음

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅
### 브로트캐스팅(Broadcasting) : 시리즈, 데이터프레임 내 모든 데이터 연산
### 벡터 : 시리즈 처럼 여러 값을 가진 데이터
### 스칼라 : 단순 크기를 나타내는 데이터

##### 같은 길이 벡터 브로드캐스팅

In [61]:
print(ages + ages)
# 결과값으로 같은 길이의 벡터 출력

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [62]:
print(ages * ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

##### 벡터와 스칼라 브로드캐스팅

In [63]:
print(ages + 100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [64]:
print(ages * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

##### 다른 길이 벡터 연산

In [65]:
print(pd.Series([1, 100]))

0      1
1    100
dtype: int64

In [66]:
print(ages + pd.Series([1, 100]))
#길이가 같은 0,1까지만 연산, 길이가 다른 2~7은 누락값(NaN)으로 처리됨

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [67]:
# sort_index(ascending=False) : 인덱스 역순 데이터 정렬
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [68]:
print(ages * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [69]:
print(ages + rev_ages)
# 연산은 동일한자리끼리 연산이 아님 > 인덱스가 일치하는 값끼리 연산을 함

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 데이터프레임과 불린 추출

In [70]:
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [71]:
print(scientists.loc[[True, True, False, True]])
# 이코드는 에러코드네

IndexError: Boolean index has wrong length: 4 instead of 8

# 데이터프레임과 브로드캐스팅

##### 데이터프레임 스칼라 브로드캐스팅

In [ ]:
print(scientists * 2)
# 문자는 2번씩, 숫자는 2배가 됨

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 3-5 시리즈와 데이터프레임 데이터 처리

In [ ]:
print(scientists)
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)
#문자열로 저장된 데이터에 시간 관련 작업을 위해 datetime 자료형으로 변환

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61
object
object

In [ ]:
###pd.to_datetime(데이터프레임명['컬럼명'], format='포맷양식')
born_dateime = pd.to_datetime(scientists['Born'], format = '%Y-%m-%d')
print(born_dateime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [ ]:
###pd.to_datetime(데이터프레임명['컬럼명'], format='포맷양식')
died_dateime = pd.to_datetime(scientists['Died'], format = '%Y-%m-%d')
print(died_dateime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [72]:
print(scientists.shape)

(8, 5)

In [74]:
###데이터프레임에 born_dt, died_dt 추가
scientists['born_dt'], scientists['died_dt'] = (born_dateime, died_dateime)
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [75]:
print(scientists.shape)

(8, 7)

In [77]:
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

In [78]:
###shuffle(데이터프레임명['섞을컬럼명']) : 시리즈, 데이터프레임 데이터 섞기
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [79]:
import random

random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

c:\Users\Mok\anaconda3\lib\random.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

In [82]:
###df명.drop(['컬럼명'], axis = 1) : 데이터프레임 열 삭제, axis = 1 열 전체 삭제 옵션
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [84]:
scientists_dropped = scientists.drop(['Age'], axis=1)
    #drop메서드는 열 삭제 이후 df를 반환함
print(scientists_dropped.columns)
print(scientists_dropped)
#age 컬럼이 삭제

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')
                   Name        Born        Died          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16             Chemist
1        William Gosset  1876-06-13  1937-10-16        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13               Nurse
3           Marie Curie  1867-11-07  1934-07-04             Chemist
4         Rachel Carson  1907-05-27  1964-04-14           Biologist
5             John Snow  1813-03-15  1858-06-16           Physician
6           Alan Turing  1912-06-23  1954-06-07  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# 3-6 데이터 저장&불러오기

### 데이터 피클, CSV, TSV 파일로 save & load

#### df명 or 시리즈명.to_pickle('경로') : 피클로 데이터 저장
###### 피클 : 바이너리 형태로 직렬화한 오프젝트 데이터 저장기법, 스프레드시트보다 더 작은 용량으로 데이터 저장이 가능

In [90]:
#df 일부 컬럼 pickle 저장
names = scientists['Name']
names.to_pickle('./output/scientists_names_series.pickle')

In [91]:
#데이터 프레임 전체 pickle 저장
scientists.to_pickle('./output/scientists_df.pickle')

#### pd.read_pickle('경로') : 피클 데이터 불러오기
###### 피클은 바이너리 형태의 오브젝트 이므로, read_pickle 메서드로 읽기 가능(편집기로 읽으면 깨짐)

In [94]:
scientists_names_from_pickle = pd.read_pickle('./output/scientists_names_series.pickle')
print(scientists_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [95]:
scientists_from_pickle = pd.read_pickle('./output/scientists_df.pickle')
print(scientists_from_pickle)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

#### 시리즈 or df.to_csv('경로.csv') : CSV 파일로 저장
#### 시리즈 or df.to_csv('경로.tsv', sep = '\t') : TSV 파일로 저장(확장자와 sep 옵션 추가 설정)
###### CSV : 쉼표로 구분, TSV : 탭으로 구분

In [96]:
#CSV저장
names.to_csv('./output/scientists_names_series.csv')
#TSV저장
scientists.to_csv('./output/scientists_df.tsv', sep='\t')

### df명.to_excel('경로') : 데이터 프레임 엑셀 파일 저장
###### 시리즈는 엑셀 구조와 맞지 않아 저장 불가

In [99]:
#xls 파일 저장시
%pip install xlwt

#xlsx 파일 저장시
%pip install openpyxl

Requirement already satisfied: xlwt in c:\users\mok\anaconda3\lib\site-packages (1.3.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: openpyxl in c:\users\mok\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\mok\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [101]:
names_df = names.to_frame()

import xlwt
names_df.to_excel('./output/scientists_names_series_df_xls.xls')

import openpyxl
names_df.to_excel('./output/scientists_names_series_df_xlsx.xlsx')

C:\Users\Mok\AppData\Local\Temp/ipykernel_17468/1550028297.py:4: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  names_df.to_excel('./output/scientists_names_series_df_xls.xls')