# 깔끔한 데이터
    7-1 열과 피벗
    7-2 열 이름 관리
    7-3 여러 열 하나로 정리
    7-4 중복 데이터 처리
    7-5 대용량 데이터 처리

### 7-1 열과 피벗

In [ ]:
# 데이터프레임의 열 : 파이썬의 변수와 비슷한 역할
    #ex) ebola 데이터프레임 열 : 사망날짜(Date), 발병국(Case_Guinea) 등 데이터 저장
    
# 넓은 데이터 : 데이터프레임의 열 자체가 값을 의미
    #ex) 넓은 데이터 열 : <10$, <10-20$, <20-30$, ...

##### melt 메서드 : 데이터프레임 정리에 유용한 메서드
    melt 메서드 인자
        id_vars : 위치를 그대로 유지할 열의 이름 지정
        value_vars : 행으로 위치를 변경할 열의 이름 지정
        var_name : value_vars로 위치를 변경할 열 이름 지정
        value_name : var_name으로 위치 변경할 열의 데이터를 저장할 열 이름 지정

##### 1개의 열만 고정하고 나머지 열을 행으로 바꾸기

In [2]:
# melt 메서드 사용 : 11개의 넓은데이터 데이터프레임 예시
import pandas as pd
pew = pd.read_csv('./data/pew.csv')
print(pew.head())

             religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k  $50-75k  \
0            Agnostic     27       34       60       81       76      137
1             Atheist     12       27       37       52       35       70
2            Buddhist     27       21       30       34       33       58
3            Catholic    418      617      732      670      638     1116
4  Don’t know/refused     15       14       15       11       10       35

   $75-100k  $100-150k  >150k  Don't know/refused
0       122        109     84                  96
1        73         59     74                  76
2        62         39     53                  54
3       949        792    633                1489
4        21         17     18                 116

In [3]:
# 6열까지만
print(pew.iloc[:, 0:6])

                   religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k
0                  Agnostic     27       34       60       81       76
1                   Atheist     12       27       37       52       35
2                  Buddhist     27       21       30       34       33
3                  Catholic    418      617      732      670      638
4        Don’t know/refused     15       14       15       11       10
5          Evangelical Prot    575      869     1064      982      881
6                     Hindu      1        9        7        9       11
7   Historically Black Prot    228      244      236      238      197
8         Jehovah's Witness     20       27       24       24       21
9                    Jewish     19       19       25       25       30
10            Mainline Prot    289      495      619      655      651
11                   Mormon     29       40       48       51       56
12                   Muslim      6        7        9       10        9
13                 Orthodox     13       17       23       32       32
14          Other Christian      9        7       11       13       13
15             Other Faiths     20       33       40       46       49
16    Other World Religions      5        2        3        4        2
17             Unaffiliated    217      299      374      365      341

In [5]:
# 종교와 소득정보 출력됨
    # 소득정보 열을 행데이터로 옮기고 싶다면?
pew_long = pd.melt(pew, id_vars='religion')
print(pew_long.head())
#소득 정보 열이 행데이터(value)열로 정리됨
    # religion열을 고정하여 피벗했다 라고 표현함

             religion variable  value
0            Agnostic    <$10k     27
1             Atheist    <$10k     12
2            Buddhist    <$10k     27
3            Catholic    <$10k    418
4  Don’t know/refused    <$10k     15
                  religion            variable  value
0                 Agnostic               <$10k     27
1                  Atheist               <$10k     12
2                 Buddhist               <$10k     27
3                 Catholic               <$10k    418
4       Don’t know/refused               <$10k     15
..                     ...                 ...    ...
175               Orthodox  Don't know/refused     73
176        Other Christian  Don't know/refused     18
177           Other Faiths  Don't know/refused     71
178  Other World Religions  Don't know/refused      8
179           Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]

##### varibale, value 열 이름 바꾸기

In [6]:
#variable > income, value > count 로 columns명 변경
pew_long = pd.melt(pew, id_vars='religion', var_name='income', value_name='count')
print(pew_long.head())

             religion income  count
0            Agnostic  <$10k     27
1             Atheist  <$10k     12
2            Buddhist  <$10k     27
3            Catholic  <$10k    418
4  Don’t know/refused  <$10k     15

##### 2개 이상의 열 고정, 나머지 열을 행으로 바꾸기

In [7]:
billboard = pd.read_csv('./data/billboard.csv')
print(billboard.iloc[0:5, 0:16])

   year        artist                    track  time date.entered  wk1   wk2  \
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   87  82.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   91  87.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08   81  70.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21   76  76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   57  34.0

    wk3   wk4   wk5   wk6   wk7   wk8   wk9  wk10  wk11
0  72.0  77.0  87.0  94.0  99.0   NaN   NaN   NaN   NaN
1  92.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  68.0  67.0  66.0  57.0  54.0  53.0  51.0  51.0  51.0
3  72.0  69.0  67.0  65.0  55.0  59.0  62.0  61.0  61.0
4  25.0  17.0  17.0  31.0  36.0  49.0  53.0  57.0  64.0

In [11]:
# year, artist, track, time, date.entered 열 고정
    #나머지열(wk1, wk2,...) 피벗
billboard_long = pd.melt(billboard, id_vars=['year', 'artist', 'track', 'time', 'date.entered'],
                         var_name = 'week', value_name='rating')
print(billboard_long.head())

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

### 7-2 열 이름 관리

##### 하나의 열이 여러 의미를 가질때

In [12]:
#ebola df의 Deaths_Guinea열은 '사망자수'와 '나라이름'을 합쳐 만든 이름
ebola = pd.read_csv('./data/country_timeseries.csv')
print(ebola.columns)

Index(['Date', 'Day', 'Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone',
       'Cases_Nigeria', 'Cases_Senegal', 'Cases_UnitedStates', 'Cases_Spain',
       'Cases_Mali', 'Deaths_Guinea', 'Deaths_Liberia', 'Deaths_SierraLeone',
       'Deaths_Nigeria', 'Deaths_Senegal', 'Deaths_UnitedStates',
       'Deaths_Spain', 'Deaths_Mali'],
      dtype='object')

In [13]:
print(ebola.iloc[:5, [0, 1, 2, 3, 10, 11]])

         Date  Day  Cases_Guinea  Cases_Liberia  Deaths_Guinea  Deaths_Liberia
0    1/5/2015  289        2776.0            NaN         1786.0             NaN
1    1/4/2015  288        2775.0            NaN         1781.0             NaN
2    1/3/2015  287        2769.0         8166.0         1767.0          3496.0
3    1/2/2015  286           NaN         8157.0            NaN          3496.0
4  12/31/2014  284        2730.0         8115.0         1739.0          3471.0

In [19]:
#Date와 Day고정 나머지를 행으로 피벗 > 각 나라별 사망자수를 행으로 볼 수 있어짐
ebola_long = pd.melt(ebola, id_vars=['Date', 'Day'])
print(ebola_long)

            Date  Day      variable   value
0       1/5/2015  289  Cases_Guinea  2776.0
1       1/4/2015  288  Cases_Guinea  2775.0
2       1/3/2015  287  Cases_Guinea  2769.0
3       1/2/2015  286  Cases_Guinea     NaN
4     12/31/2014  284  Cases_Guinea  2730.0
...          ...  ...           ...     ...
1947   3/27/2014    5   Deaths_Mali     NaN
1948   3/26/2014    4   Deaths_Mali     NaN
1949   3/25/2014    3   Deaths_Mali     NaN
1950   3/24/2014    2   Deaths_Mali     NaN
1951   3/22/2014    0   Deaths_Mali     NaN

[1952 rows x 4 columns]

##### split 메서드로 열 이름 분리

In [20]:
#Cases_Guinea 같이 언더바(_)로 구분되어 2개 이상의 의미를 가진 열 split으로 분리
variable_split = ebola_long.variable.str.split('_')
print(variable_split)

0       [Cases, Guinea]
1       [Cases, Guinea]
2       [Cases, Guinea]
3       [Cases, Guinea]
4       [Cases, Guinea]
             ...
1947     [Deaths, Mali]
1948     [Deaths, Mali]
1949     [Deaths, Mali]
1950     [Deaths, Mali]
1951     [Deaths, Mali]
Name: variable, Length: 1952, dtype: object

In [21]:
print(type(variable_split))
print(type(variable_split[0]))
#variable_split의 자료형은 시리즈, 각 시리즈 값은 리스트형태

<class 'pandas.core.series.Series'>
<class 'list'>

In [24]:
#각 리스트의 0번째 인덱스는 발병(Cases)/죽음(Death)와 같은 상태를 의미
    #1번째 인덱스는 나라이름
status_values = variable_split.str.get(0)
country_values = variable_split.str.get(1)

print(status_values[:5])
print(status_values[-5:])
print(country_values[:5])
print(country_values[-5:])

0    Cases
1    Cases
2    Cases
3    Cases
4    Cases
Name: variable, dtype: object
1947    Deaths
1948    Deaths
1949    Deaths
1950    Deaths
1951    Deaths
Name: variable, dtype: object
0    Guinea
1    Guinea
2    Guinea
3    Guinea
4    Guinea
Name: variable, dtype: object
1947    Mali
1948    Mali
1949    Mali
1950    Mali
1951    Mali
Name: variable, dtype: object

In [25]:
ebola_long['status'] = status_values
ebola_long['country'] = country_values
print(ebola_long.head())

         Date  Day      variable   value status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

In [26]:
# 참고) concat 메서드로 데이터프레임 열 추가하는 방법
variable_split = ebola_long.variable.str.split('_', expand=True)
variable_split.columns = ['status', 'country']
ebola_parsed = pd.concat([ebola_long, variable_split], axis=1)

print(ebola_parsed.head())

         Date  Day      variable   value status country status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea  Cases  Guinea

In [30]:
variable_split = ebola_long.variable.str.split('_', expand=False)
print(variable_split.head())

0    [Cases, Guinea]
1    [Cases, Guinea]
2    [Cases, Guinea]
3    [Cases, Guinea]
4    [Cases, Guinea]
Name: variable, dtype: object

### 7-3 여러 열 하나로 정리 - melt, pivot_table 메서드

In [32]:
weather = pd.read_csv('./data/weather.csv')
print(weather.iloc[:5, :])

        id  year  month element  d1    d2    d3  d4    d5  d6  ...  d22   d23  \
0  MX17004  2010      1    tmax NaN   NaN   NaN NaN   NaN NaN  ...  NaN   NaN
1  MX17004  2010      1    tmin NaN   NaN   NaN NaN   NaN NaN  ...  NaN   NaN
2  MX17004  2010      2    tmax NaN  27.3  24.1 NaN   NaN NaN  ...  NaN  29.9
3  MX17004  2010      2    tmin NaN  14.4  14.4 NaN   NaN NaN  ...  NaN  10.7
4  MX17004  2010      3    tmax NaN   NaN   NaN NaN  32.1 NaN  ...  NaN   NaN

   d24  d25  d26  d27  d28  d29   d30  d31
0  NaN  NaN  NaN  NaN  NaN  NaN  27.8  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  14.5  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN

[5 rows x 35 columns]

In [47]:
#가로로 나열된 열들을 행값으로 변경
weather_melt = pd.melt(
    weather, 
    id_vars=['id', 'year', 'month', 'element'], #고정시킬 열
    var_name='day', #행으로 모을 열들의 컬럼명
    value_name='temp'
    )  #행으로 모을 열들의 값 컬럼명
print(weather_melt.head())

        id  year  month element day  temp
0  MX17004  2010      1    tmax  d1   NaN
1  MX17004  2010      1    tmin  d1   NaN
2  MX17004  2010      2    tmax  d1   NaN
3  MX17004  2010      2    tmin  d1   NaN
4  MX17004  2010      3    tmax  d1   NaN

In [39]:
# 열로 나타내고싶은 행데이터(element)를 위치변경
weather_tidy = weather_melt.pivot_table(
    index =['id', 'year', 'month', 'day'],   #고정시킬열
    columns = 'element', #열로 나열할 행
    values = 'temp', #열이 된 변수의 값들
    dropna = False
)
print(weather_tidy)

element                 tmax  tmin
id      year month day
MX17004 2010 1     d1    NaN   NaN
                   d10   NaN   NaN
                   d11   NaN   NaN
                   d12   NaN   NaN
                   d13   NaN   NaN
...                      ...   ...
             12    d5    NaN   NaN
                   d6   27.8  10.5
                   d7    NaN   NaN
                   d8    NaN   NaN
                   d9    NaN   NaN

[341 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>

In [38]:
#reset_index로 변경한 pivot_table을 데이터프레임화
weather_tidy_flat = weather_tidy.reset_index()
print(weather_tidy_flat)

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1   d1   NaN   NaN
1        MX17004  2010      1  d10   NaN   NaN
2        MX17004  2010      1  d11   NaN   NaN
3        MX17004  2010      1  d12   NaN   NaN
4        MX17004  2010      1  d13   NaN   NaN
..           ...   ...    ...  ...   ...   ...
336      MX17004  2010     12   d5   NaN   NaN
337      MX17004  2010     12   d6  27.8  10.5
338      MX17004  2010     12   d7   NaN   NaN
339      MX17004  2010     12   d8   NaN   NaN
340      MX17004  2010     12   d9   NaN   NaN

[341 rows x 6 columns]

### 7-4 중복 데이터 처리

In [44]:
billboard = pd.read_csv('./data/billboard.csv')
print(billboard.head())

   year        artist                    track  time date.entered  wk1   wk2  \
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   87  82.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   91  87.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08   81  70.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21   76  76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   57  34.0

    wk3   wk4   wk5  ...  wk67  wk68  wk69  wk70  wk71  wk72  wk73  wk74  \
0  72.0  77.0  87.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1  92.0   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  68.0  67.0  66.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3  72.0  69.0  67.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  25.0  17.0  17.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   wk75  wk76
0   NaN   NaN
1   NaN   NaN
2   NaN   NaN
3   NaN   NaN
4   NaN   NaN

[5 rows x 81 columns]

In [53]:
billboard_melt = pd.melt(
    billboard, 
    id_vars = ['year', 'artist' ,'track' ,'time' ,'date.entered'],
    var_name = 'week',
    value_name = 'rating'
    )

print(billboard_long.shape)
print(billboard_long.head())

(24092, 7)
   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [54]:
#track에 Loser라는 노래 데이터가 여러개임을 확인, week/rating을 제외하면 다른행들은 같은데이터를 지님
print(billboard_long[billboard_long.track == 'Loser'].head())

      year        artist  track  time date.entered week  rating
3     2000  3 Doors Down  Loser  4:24   2000-10-21  wk1    76.0
320   2000  3 Doors Down  Loser  4:24   2000-10-21  wk2    76.0
637   2000  3 Doors Down  Loser  4:24   2000-10-21  wk3    72.0
954   2000  3 Doors Down  Loser  4:24   2000-10-21  wk4    69.0
1271  2000  3 Doors Down  Loser  4:24   2000-10-21  wk5    67.0

In [55]:
#중복값을 갖는 열을 따로모아 데이터프레임에 저장
billboard_songs = billboard_long[['year', 'artist', 'track', 'time']]
print(billboard_songs.shape)

(24092, 4)

In [56]:
#drop_duplicates로 데이터프레임 중복데이터 제거
billboard_songs = billboard_songs.drop_duplicates()
print(billboard_songs.shape)

(317, 4)

In [57]:
#중복 제거 데이터프레임에 아이디(id) 추가 > 데이터 조회/구분을 쉽게 할수 있도록
billboard_songs['id'] = range(len(billboard_songs))
print(billboard_songs.head(n=10))

   year          artist                    track  time  id
0  2000           2 Pac  Baby Don't Cry (Keep...  4:22   0
1  2000         2Ge+her  The Hardest Part Of ...  3:15   1
2  2000    3 Doors Down               Kryptonite  3:53   2
3  2000    3 Doors Down                    Loser  4:24   3
4  2000        504 Boyz            Wobble Wobble  3:35   4
5  2000            98^0  Give Me Just One Nig...  3:24   5
6  2000         A*Teens            Dancing Queen  3:44   6
7  2000         Aaliyah            I Don't Wanna  4:15   7
8  2000         Aaliyah                Try Again  4:03   8
9  2000  Adams, Yolanda            Open My Heart  5:30   9

In [58]:
#merge로 노래정보와 주간순위데이터 합침
billboard_ratings = billboard_long.merge(billboard_songs, on=['year', 'artist', 'track', 'time'])
print(billboard_ratings.shape)
print(billboard_ratings)

(24092, 8)
       year           artist                    track  time date.entered  \
0      2000            2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1      2000            2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
2      2000            2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
3      2000            2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
4      2000            2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
...     ...              ...                      ...   ...          ...
24087  2000  matchbox twenty                     Bent  4:12   2000-04-29
24088  2000  matchbox twenty                     Bent  4:12   2000-04-29
24089  2000  matchbox twenty                     Bent  4:12   2000-04-29
24090  2000  matchbox twenty                     Bent  4:12   2000-04-29
24091  2000  matchbox twenty                     Bent  4:12   2000-04-29

       week  rating   id
0       wk1    87.0    0
1       wk2    82.0    0
2       wk3    72.0    0
3       wk4    77.0    0
4       wk5    87.0    0
...     ...     ...  ...
24087  wk72     NaN  316
24088  wk73     NaN  316
24089  wk74     NaN  316
24090  wk75     NaN  316
24091  wk76     NaN  316

[24092 rows x 8 columns]

### 7-5 대용량 데이터 처리

##### 여러개로 나누어진 데이터

In [66]:
import os
import urllib.request

with open('./data/raw_data_urls2.txt', 'r') as data_urls:
    for line, url in enumerate(data_urls):
        if line == 5:   #5개만 내려받음
            break
        fn = url.split('/')[-1].strip() #'/'단위로 나누고 앞뒤 공백제거(strip)
        fp = os.path.join('', './data', fn) #파일 저장 경로 및 제목
        print(url)
        print(fp)
        urllib.request.urlretrieve(url, fp)

https://s3.amazonaws.com/nyc-tlc/csv_backup/fhv_tripdata_2015-01.csv

./data\fhv_tripdata_2015-01.csv
https://s3.amazonaws.com/nyc-tlc/csv_backup/fhv_tripdata_2015-02.csv

./data\fhv_tripdata_2015-02.csv
https://s3.amazonaws.com/nyc-tlc/csv_backup/fhv_tripdata_2015-03.csv

./data\fhv_tripdata_2015-03.csv
https://s3.amazonaws.com/nyc-tlc/csv_backup/fhv_tripdata_2015-04.csv

./data\fhv_tripdata_2015-04.csv
https://s3.amazonaws.com/nyc-tlc/csv_backup/fhv_tripdata_2015-05.csv

./data\fhv_tripdata_2015-05.csv

In [67]:
#glob메서드 : 패턴이 동일한 파일들을 한번에 읽어들일 수 있음
import glob
nyc_taxi_data = glob.glob('./data/fhv_*')
print(nyc_taxi_data)

['./data\\fhv_tripdata_2015-01.csv', './data\\fhv_tripdata_2015-02.csv', './data\\fhv_tripdata_2015-03.csv', './data\\fhv_tripdata_2015-04.csv', './data\\fhv_tripdata_2015-05.csv']

In [71]:
#각 파일 데이터프레임화
taxi1 = pd.read_csv(nyc_taxi_data[0])
taxi2 = pd.read_csv(nyc_taxi_data[1])
taxi3 = pd.read_csv(nyc_taxi_data[2])
taxi4 = pd.read_csv(nyc_taxi_data[3])
taxi5 = pd.read_csv(nyc_taxi_data[4])
    #이거 for문으로 못하나? global 변수선언 말고

In [72]:
print(taxi1.head(n=2))
print(taxi2.head(n=2))
print(taxi3.head(n=2))
print(taxi4.head(n=2))
print(taxi5.head(n=2))

  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-02-01 00:00:00         NaN
1               B00013  2015-02-01 00:01:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00029  2015-03-01 00:02:00       213.0
1               B00029  2015-03-01 00:03:00        51.0
  Dispatching_base_num          Pickup_date  locationID
0               B00001  2015-04-01 04:30:00         NaN
1               B00001  2015-04-01 06:00:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00001  2015-05-01 04:30:00         NaN
1               B00001  2015-05-01 05:00:00         NaN

In [73]:
#데이터의 구조(행, 열)이 규모가 큼
print(taxi1.shape)
print(taxi2.shape)
print(taxi3.shape)
print(taxi4.shape)
print(taxi5.shape)

(2746033, 3)
(3126401, 3)
(3281427, 3)
(3917789, 3)
(4296067, 3)

In [74]:
#데이터 전처리를 위해 각 데이터 프레임 연결
taxi = pd.concat([taxi1, taxi2, taxi3, taxi4, taxi5])
print(taxi.shape)

(17367717, 3)

##### 반복문으로 데이터 준비하기

In [78]:
import glob
nyc_taxi_data = glob.glob('./data/fhv_*')
print(nyc_taxi_data)

#반복문을 응용하면 단 몇줄로 데이터를 준비할 수 있음
list_taxi_df = []
for csv_filename in nyc_taxi_data:
    print(csv_filename)
    df = pd.read_csv(csv_filename)
    list_taxi_df.append(df)
    
print(len(list_taxi_df))
print(type(list_taxi_df[0]))

['./data\\fhv_tripdata_2015-01.csv', './data\\fhv_tripdata_2015-02.csv', './data\\fhv_tripdata_2015-03.csv', './data\\fhv_tripdata_2015-04.csv', './data\\fhv_tripdata_2015-05.csv']
./data\fhv_tripdata_2015-01.csv
./data\fhv_tripdata_2015-02.csv
./data\fhv_tripdata_2015-03.csv
./data\fhv_tripdata_2015-04.csv
./data\fhv_tripdata_2015-05.csv
5
<class 'pandas.core.frame.DataFrame'>

In [79]:
print(list_taxi_df[0].head())   #list_taxi_df리스트안에 5개의 df이 들어있음

  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN
2               B00013  2015-01-01 01:23:00         NaN
3               B00013  2015-01-01 01:44:00         NaN
4               B00013  2015-01-01 02:00:00         NaN

In [80]:
taxi_loop_concat = pd.concat(list_taxi_df)
print(taxi_loop_concat.shape)   #리스트 5개로 세분되어있는 list_taxi_df를 concat으로 하나로 합침

(17367717, 3)

In [81]:
print(taxi.equals(taxi_loop_concat))    #위에서 따로 담아 합친 taxi와의 데이터 비교

True